<html>
	<head>
		<title>Tornado + WebSocket = Chat Web App</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />

		<link rel="shortcut icon" href="/static/img/favicon.png" />
	
		<link type="text/css" rel="stylesheet" media="screen" href="/static/css/chat.css" />

		<script src="/static/js/jquery-1.8.0.min.js"></script>
		<script src="/static/js/replaceAll.js"></script>
		<script src="/static/js/chat.js"></script>
	</head>

	<body>
	
		<div class="header">
			<div class="header-container">
				<a href="http://caniuse.com/websockets" target="_suporteWebSocket" class="suporte-websocket">A versão do meu Browser suporta Web Sockets?</a>
			</div>
		</div>
	
	
		<div class="page">
			<div class="page-container">

				<div class="box-left">
					<img class="tornado-img" src="/static/img/tornado.png">
					<div class="chat-mais">+</div>
					<img class="websockets-img" src="/static/img/websockets.png">
					<div class="chat-igual">=</div>
					<img class="chat-img" src="/static/img/chat.png">
					<div class="chat-txt">Chat Web App</div>
				</div>

				<div class="box-right">

					<div class="usuarios-conectados">
						<span id="qtd">?</span> usuário(s) conectado(s) agora!
					</div>
					
					<div class="entrar-sair">
						<input type="text" name="user" maxlength="32" placeholder="nome/nickname" class="user">
						<a href="#" class="entrar">entrar</a>
					</div>
					
					<div id="msg">
						{% for msg in mensagens %}
							<div class="item-msg">
								<div class="header-msg"><span>{{ msg.nickname }}</span> em {{ msg.data.strftime('%d/%m/%Y %H:%M:%S') }}</div>
								<div class="texto-msg">{{ msg.mensagem }}</div>
							</div>
						{% end %}
					</div>
					
					<div class="rolagem-automatica">
						<input type="checkbox" name="rolagem" checked="checked" disabled="disabled">
						<span>Rolagem automática</span>
					</div>
					
					<div class="area-enviar">
						<input type="text" name="enviar" maxlength="210" class="enviar-txt-disabled" disabled="disabled">	
						<a href="#" class="enviar-btn-disabled">enviar</a>
					</div>

				</div>

			</div>
		</div>
		
		<div class="footer">
			<div class="footer-container">
				<div class="nome-app">Tornado + WebSocket = Chat Web App</div>
				<div class="versao">
					<div class="texto-versao">Versão {{ versao }}</div>
					<div class="num-versao">{{ data_versao.strftime('%b/%Y') }}</div>
				</div>			
			</div>
		</div>	
		
	</body>

</html>